:root {
  --dark-main: #1e1e1e;
  --dark-secundary: #242424;
  --light-main: #e5e5e5;
  --light-main-alpha-84: #e5e5e584;
  --light-main-alpha-75: #e5e5e575;
  --light-secundary: #d9d9d9;
  --color-main: #ee0000;
  --font-main: "Josefin Sans Variable", Arial, Helvetica, sans-serif;
  --font-title: "Rubik Distressed", var(--font-main);
  --max-width: 1400px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--dark-main);
  background-image: url("/images/background.webp");
  background-position: 40% 35%;
  color: var(--dark-secundary);
  font-family: var(--font-main);

  @media (width >= 600px) {
    background-position: 50% 15%;
  }
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

dialog {
  border: none;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
