.header-container {
  background-color: var(--light-main);
}

.header-content {
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__icon {
  height: 86px;
  width: 86px;
}

.header__title-name {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 3rem;
}

.header__title-surname-first {
  font-size: 1.35rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.header__title-surname-second {
  display: flex;
  gap: 6px;
}

@media (width >= 750px) {
  .header-content {
    min-height: 8.25rem;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header__icon {
    height: 84px;
    width: 84px;
  }

  .header__title {
    display: flex;
    gap: 12px;
  }

  .header__title-name {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .header__title-surname-first {
    flex-direction: column;
  }

  .header__title-surname-second {
    display: flex;
    gap: 6px;
    justify-content: space-between;
  }
}

@media (width >= 1200px) {
  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
  }

  .header__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
