.nav--scrolled {
  background-color: var(--light-main);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  padding: 10px 0;

  animation-duration: 0.5s;
  animation-name: animate-fade-in;
}

.navigator__list--mobile {
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.navigator--desktop {
  display: none;
}

@media (width >= 750px) {
  .navigator--mobile {
    display: none;
  }

  .navigator--desktop {
    display: block;
  }

  .navigator__list--desktop {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3px;
    column-gap: 10px;
  }
}

@keyframes animate-fade-in {
  0% {
    top: -57px;
  }
  100% {
    top: 0;
  }
}
